/*
=======
base
=======
*/

html {
height: 100%;

}

body {
background-color: #fff;
font-family: "Raleway", sans-serif;
font-size:100%;
font-weight: 400;

}




 h2,h3, h4 {
margin: 2%;
color: #333;
family: 'Raleway', sans-serif;
}


h4 {
font-size: 18px;
margin-top:20px;
font-
}

p {

  font-size: 20px;

}

a {

  font-size: 16px;

}



header, footer {
text-align: center;
}


img, h1
{
  display: block;
  margin: 20px auto;

}

blockquote {
display: block;


}



.attachment-post-thumbnail {
    opacity: 1;
  box-shadow: 3px 3px 6px rgba(51,51,51, 0.5);
background: black;

transition-property: opacity;
transition-duration: .5s;
}

#photo-container:hover .attachment-post-thumbnail{
opacity: 0.5;

}



#second {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    text-align: center;


}

section {

text-align: center;
margin: 0 auto;


}



#about{
padding-top: 180px;
padding-bottom: 90px;

}



#gallery, #contact {
  padding-top: 110px;
padding-bottom: 120px;
}
#wpadminbar{
position:fixed;
}


#contact a {
color: #85C33F;
margin-top: 20px;
}

#contact a:hover {
  color: color: #3C493B;
}

article {

max-width: 1000px;
margin: 0 auto;

}

/* 
==============
navigation bar 
==============
*/
.navbar-brand {
font-family: "Raleway", sans-serif;
}

.current-menu-item a {
  background: #000;

}
.navbar-inverse .navbar-nav>li>a:hover {
color: #fff;
  background: transparent;

}

.navbar-inverse .navbar-nav>li>a {
text-transform: uppercase;
font-family: 'Raleway', sans-serif;
font-size: 16px;
}

.admin-bar .navbar-fixed-top {
margin-top: 30px;
}


.navbar{
background: rgba(0, 0, 0, 0.7);
color: white;
margin-bottom: 0px;
}

li.menu-item{

    text-align: center;
    display: inline;

}
.nav li > a {

  padding: 0;
  margin-top: 6px;
  font-weight: 900;
}

.navbar-collapse {

  float:right;
}



/* 
=======
jumbotron
=======
*/

.jumbo{

  text-align: center;
  color: #fff;
margin: 150px auto;





}


.jumbotron {
  background: url("../img/header1.jpg") center center no-repeat;
height: 100vh;
background-size: cover;
margin-bottom:0px;

}

.jumbo h1 {
  display:none;
text-transform: uppercase;
color: #e1e2dc;
z-index: 10;
font-family: "Raleway", sans-serif;
font-size: 47px;
font-weight:900;
margin-top: 20px;
margin-left: 12px;
}




.header-img {
    display: none;
    width: 200px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background: #a94442;
    border-radius: 200px;
    z-index: 10;
    position: relative;
filter: saturate(70%);
filter: blur(0.03px);
}



/* 
=======
random
=======
*/


.portfolio-page {
margin-top: 100px;

}

article img {
border: 15px;
border-color: white;
box-shadow: 3px 3px 6px rgba(51,51,51, 0.5);

}

.portfolio-page {
  margin-top: 100px;
  margin-bottom: 50px;
}

.secondary h1 {
  font-family: "Raleway", sans-serif;
}
/* 
=======
footer 
=======
*/

footer {

position: relative;
bottom: 0;
   width:100%;
  background: #333333;
  color: #fff;
  height: 200px;
  text-align: center;
color: white;

}


li.menu-item-type-custom {
  display: inline;
  padding: 10px;
  text-align: center;

}


.footer{


  padding-top: 80px;
text-align: center;
margin-right: 15px;
}

.footer i {

color: #85C33F;
font-size: 3em;
text-decoration: none;
}
 .footer i:hover {
  color: #3C493B;
  text-decoration: none; 
}


 .footer i:active {
  text-decoration: none; 
}

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  margin: 0 auto;
  z-index: 200;
  top:0;
  left:0;
  display:none;
  text-align:center;
}

#overlay img {
 margin: 0 auto;
 border: 5px solid white;
 box-shadow: 6px 6px 12px rgba(51,51,51, 0.8);
}


/*icons */
.icon-facebook, .icon-linkedin, .icon-github {
visibility: hidden;
opacity: 0;


}


/*
============
contact form
============


form {

width: 70%;
margin: auto;
padding-bottom: 20px;
font-size: 20px;


}

label {

  font-size: 20px;
}
 
#respond {

width: 70%;
margin: auto;
padding-bottom: 20px;


}

  }

input[type="text"]
{
    font-size: 18px;
}



input[name="message_human"] {
  width: 30%;
  margin:auto;
}

.error{
  font-size: 0.9em;
  margin: auto;
  padding:0 0 10px 0;
  color: red;
        
}
 
.success{
font-size: 0.9em;
margin: auto;
padding:0 0 10px 0;
display:inline;
color: green;
    
}
 
          
.err {color: blue;}



input[type="submit"]
{
    width: 150px;
    margin:auto;
    border-radius: 10px;
    font-size: 20px;
    background-color: #85C33F;
    color: #fff;
  box-shadow: none !important;
  border:none !important;
}

*/
/*
===============
MEDIA QUERIES 
===============*/

/*
============
phones
============
*/

@media only screen and (max-width: 767px){
  
    .list-inline {
padding-right: 8%;

    }



label {

font-size: 16px;

}

article {
  padding: 0 2% 0 2%;
}


.container h1 {
font-size: 45px;
}

#respond {

width: 100%;
margin:auto;
}

input[type="submit"]
{
    width: 90px;
    border-radius: 10%;
    font-size: 18px;
    background-color: #85C33F;
       color: #fff;
    box-shadow:0;
}


input[type="text"]
{
    font-size: 14px;
}


.admin-bar .navbar-header {
margin-top: 20px;
}

.header-img {
margin: 0 auto;

}


#about{
padding-top: 100px;
padding-bottom: 100px;
margin-top: 250px;


}

.jumbotron{

  height: 290px;
  margin: 0;
}

.jumbo  h1{
margin-top: 50px;
color: #333;
}


#wpadminbar{
position:fixed;
margin-top: 0;
}

.admin-bar .navbar-header {
margin-top: 20;
}


.jumbo {

  margin: 150px auto;
}

.navbar-collapse {

  float: none;
}

.jumbo h1 {
font-size: 28px;

}


  }



  @media only screen and (max-width: 767px) and (orientation: landscape){



.jumbo {
margin-top: 70px;

}

.jumbo h1{
 margin-bottom: -70px;

}


.jumbo img {
  margin-top:-10px;
width: 150px;
border-radius: 150px;
height: auto;

}
}



/*
============
tablets
============
*/

@media only screen and (min-width: 767px) and (max-width: 1024px) {


.jumbo {

  margin: 150px auto;
}

.jumbo h1 {
font-size: 36px;
}

}


/*puhekupla*/

